[run]
omit =
  ding/utils/slurm_helper.py
  ding/utils/file_helper.py
  ding/utils/linklink_dist_helper.py
  ding/utils/pytorch_ddp_dist_helper.py
  ding/utils/k8s_helper.py
  ding/utils/time_helper_cuda.py
  ding/utils/time_helper_base.py
  ding/utils/data/tests/test_dataloader.py
  ding/config/utils.py
  ding/entry/tests/test_serial_entry_algo.py
  ding/entry/tests/test_serial_entry.py
  ding/entry/dist_entry.py
  ding/entry/cli.py
  ding/entry/predefined_config.py
  ding/hpc_rl/*
  ding/worker/collector/tests/speed_test/*
  ding/envs/env_wrappers/env_wrappers.py
  ding/rl_utils/tests/test_ppg.py
