# This workflow will check flake style
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: style

on: [push, pull_request]

jobs:
  style:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: code style
        run: |
          python -m pip install "yapf==0.29.0"
          python -m pip install "flake8<=3.9.2"
          python -m pip install "importlib-metadata<5.0.0"
          make format_test flake_check
