# This workflow will check pytest
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: unit_test

on: [push, pull_request]

jobs:
  test_unittest:
    runs-on: ubuntu-latest
    if: ( !contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'ut skip'))
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: do_unittest
        timeout-minutes: 40
        run: |
          python -m pip install box2d-py
          python -m pip install .
          python -m pip install ".[test,k8s]"
          python -m pip install transformers
          if python --version | grep -q "Python 3.7"; then
              python -m pip install wandb==0.16.4
          else
              echo "Python version is not 3.7, skipping wandb installation"
          fi
          ./ding/scripts/install-k8s-tools.sh
          make unittest
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false

  test_benchmark:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: do_benchmark
        run: |
          python -m pip install .
          python -m pip install ".[test,k8s]"
          python -m pip install transformers
          if python --version | grep -q "Python 3.7"; then
              python -m pip install wandb==0.16.4
          else
              echo "Python version is not 3.7, skipping wandb installation"
          fi
          ./ding/scripts/install-k8s-tools.sh
          make benchmark
